*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.product-card{
    background-color: #fff;
    width: 330px;
    height: 400px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    >img{
        width: 100%;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
#products-card-group{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p{
    text-align: center;
}
.product-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.product-price{
    /* margin-top: 20px; */
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.indian-rupee{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.fa-indian-rupee-sign{
    font-size: 10px;
}
.btn{
    margin-left: 20px;
}

#btn-group{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#record-info{
    font-weight: 600;
    margin-left: 50px;
}
.search-bar{
    margin-top: 20px;
    margin-right: 40px;
    width: 40%;
    float: right;
    >#search{
        width: 60%;
        height: 30px;
        border-radius: 4px;
        padding: 5px;
    }
}
@media(max-width: 619px){
    .search-bar{
        width: 60%;
    }
}

@media(max-width: 420px){
    .search-bar{
        width: 80%;
    }
}

@media(max-width: 325px){
    .search-bar{
        width: 90%;
        margin-left: 30px;
    }
}
